<!doctype html>
<html>

<head>
    <meta charset="UTF-8" author="https://github.com/i-icc" description="知らないけど知ったかぶりたい、そんな時知ってる風文章を作成してくれます。" keywords="twitter,知ったか,python,flask,形態素解析">
    <meta name="description" content="知らないけど知ったかぶりたい、そんな時知ってる風文章を作成してくれます。">
    <meta name="keywords" content="twitter,知ったか,python,flask,形態素解析">
    <meta name="author" content="https://github.com/i-icc">
    <title>Shittakater</title>
    <link rel="icon" type="image/png" href="/static/images/icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="padding-top: 5rem">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="/">
            <img src="/static/images/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Shittakater
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    <!-- ここにメインコンテンツを書く -->
    {% endblock %}
</body>

</html>